@model IEnumerable<AlumnosMvcCliente.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>StudentList</h2>

<p>
    @Html.ActionLink(Resources.Resource.createStudent, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Resources.Resource.id
        </th>
        <th>
            @Resources.Resource.name
        </th>
        <th>
            @Resources.Resource.surname
        </th>

        <th></th>
    </tr>

@foreach (var student in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => student.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => student.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => student.Apellidos)
        </td>
        <td>
            @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = student.Id }) |
            @Html.ActionLink(Resources.Resource.details, "Details", new { id = student.Id }) |
            @Html.ActionLink(Resources.Resource.delete, "Delete", new { id = student.Id })
        </td>
    </tr>
}

</table>